* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
	--text-color: #302e29;
	--main-color: #ff9100;
	--second-color: #858585;
	--bg-color: #fffbf6;
	--big-font: 4.5rem;
	--h2-font: 2.6rem;
	--p-font: 1.1rem;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color); 
}

.container {
    margin-inline: auto;
    padding-inline: 20px;
}

.flex {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    font-size: 0.8rem;
    color: rgb(146, 147, 148);
}

.btn {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    border: none;
    background-color: var(--main-color);
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: all 0.3s;
}   

.btn:hover {
    letter-spacing: 1px;
}

/* Header */
#header-bar {
    padding: 0.8rem;
    background-color: white;
    box-shadow: 0px 0px 7px 7px gainsboro;
    position: fixed;
    left: 0; right: 0;
}

.header {
    justify-content: space-between;
}

.header .logo img {
    width: 100px;
}

.header nav ul a {
    margin-left: 2rem;
    color: var(--text-color);
    font-weight: bold;
    transition: all 0.3s;
}

.header nav ul a:hover {
    color:  var(--main-color);
    border-bottom: 1px solid rgb(243, 148, 40);
}

.header .icone {
    padding: 0.5rem 1.3rem;
    background-color: rgb(243, 148, 40);
    border-radius: 2rem;
    gap: 1rem;
}

.header .icone img {
    width: 1.5rem;
}

.menu-icon {
    display: none;
}

.cart-bar {
    position: absolute;
    top: 5rem; right: -100%; 
    width: 35%;
    height: 30rem;
    background-color: white;
    box-shadow: 0px 4px 5px 3px rgb(189, 189, 189);
    border-radius: 10px;
    transition: all 0.3s;
}

.cart-bar.active {
    right: 1rem;
} 

.cart-bar button {
    margin: 0.5rem 5.8
    rem;
}

.cart-bar .box-img {
    justify-content: space-around;
}

.cart-bar .box-img img {
    width: 7rem;
    padding: 1rem 0;
}

/* Home Section */
.section-home {
   padding-top: 8rem;
   justify-content: space-between;
}

.section-home .text-home {
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
}

.section-home .text-home h1 {
    font-size: 3rem;
    width: 20rem;   
}

.section-home .text-home span {
    font-size: 3rem;
    color: var(--main-color);
}

.section-home .text-home p {
    width: 25rem;
    color: var(--second-color);
    line-height: 30px;
}

.section-home .home-img img {
    width: 30rem;
}

.icon-home {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: fixed;
    right: 2%;
    bottom: 2%;
    padding: 0.3rem; 
}

.ingredients{
   gap: 1rem;
   flex-direction: column;
   align-items: flex-start;
   padding-top: 5rem;
} 

.box-gap {
    justify-content: center;
    gap: 1rem;
}

.box-oniy {
    width: 225px;
    height: 90px;
    background-color: var(--bg-color);
    box-shadow: 0px 35px 30px 8px rgb(225 225 225);
    border-radius: 10px;
    padding-top: 0.8rem;
    padding-left: 1.5rem;
    cursor: pointer; 
    gap: 0.7rem;
    transition: all 0.5s ease;
    flex-wrap: wrap;
}

.left:hover {
    transform: translateX(7px);
}

.left-1:hover {
    transform: translateX(7px);
}


.left-2:hover {
    transform: translateX(7px);
}


.left-3:hover {
    transform: translateX(7px);
}

.box-gap .box-oniy .img-box img {
    width: 60px;
}

.box-gap .box-oniy .text-box span {
    color: var(--text-color);
}

/* Section 1 */
.section-1 {
    justify-content: space-between;
    padding-top: 5rem;
}

.section-img img {
    width: 80%;
}

.section-text {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.section-text h2 {
    font-size: 2.2rem;
}

.section-text p {
    font-size: 1rem;
    width: 90%;
    color: var(--second-color);
    line-height: 30px;
}

/* Section-2 */
.menu-section {
    margin-top: 7rem;
}

.menu-section p {
    color: var(--second-color);
    font-size: 0.7rem;
    padding: 0.3rem;
}


.popular-pizza {
    gap: 1.4rem;
}

.box-menu {
    width: 215px;
    height: 300px;
    background-color: var(--bg-color);
    border-radius: 7px;
    margin-top: 3rem;
    cursor: pointer;
    transition: all 0.3s;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
}

.box-menu img {
    width: 215px;
    border-radius: 7px;
    transition: all 0.3s;
}

.box-menu img:hover {
    width: 220px;
}

.box-menu p {
    font-size: 0.8rem;
    color: var(--second-color);
}
 
.box-menu .Margarita {
    justify-content: space-between;
    padding-top: 0.5rem;
}

.box-menu .Margarita .text-mar h3 {
    font-size: 1rem;
    padding-top: 0.5rem;
}

.box-menu .Margarita .preit h3 {
    font-size: 1rem;
    padding-top: 0.5rem;
}

.box-menu .Margarita .color {
    color: var(--main-color);
}

.box-menu p {
    padding-top: 0.5rem;
    line-height: 30px;
}

/* Footer */
.footer .main-footer {
    justify-content: center;
    padding: 5rem;
    gap: 5rem;
}

.footer .main-footer .footer-text h3  {
    color: var(--text-color);
}

.footer .main-footer .footer-text ul li  {
    padding-top: 1rem;
}

.footer .main-footer .footer-text ul li a {
    color: var(--second-color);
    transition: all 0.4s;
    font-size: 0.8rem;
}


.footer .main-footer .footer-text ul li a:hover {
    color: var(--main-color);
    /* transform: translateX(20px); */
    padding-left: 10px;
}

.footer .last-text {
    padding: 1rem;
    background-color: var(--bg-color);
}

.footer p {
    color: var(--second-color);
    font-size: 0.8rem;
    text-align: center;
}